<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net45" />
  <package id="Fody" version="1.26.1" targetFramework="net45" developmentDependency="true" />
  <package id="MethodCache.Fody" version="1.4.0" targetFramework="net45" />
</packages>